body {
    margin: 0;
    background: #081b29;
    height: 170vh;
}

.nav {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: transparent;
    margin-bottom: 50px;
}

.nav a {
    text-decoration: none;
    margin: 5px;
    color: white;
    padding: 10px;
    opacity: 0.5;
    font-size: 18px;
}

.nav a:hover {
    background-color: rgb(171, 221, 255);
    opacity: 1;
    border-radius: 5px;
}

.form_box {
    width: 35%;
    background: #fff;
    padding: 50px;
    text-align: center;
    margin: 0px auto;
}

.form_input-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form_box h1 {
    font-size: 30px;
    margin-bottom: 30px;
    color: black;
}

.form_input-field {
    background: #eaeaea;
    margin: 10px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    width: 100%;
}

input, select{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 15px;
    font-size: 15px;
}

.form_input-field i {
    margin-left: 15px;
    color: #9999;
}

.input-btn {
    width: 100%;
    border-radius: 5px;
    border: none;
    padding: 15px;
}

.input-btn:hover {
    cursor: pointer;
    background-color: black;
    color: white;
    transition: all 0.8s ease-in-out;
}

input[type="file"] {
    display: none;
}

.label-button {
    width: 100%;
    display: inline-block;
    text-transform: uppercase;
    color: black;
    text-align: center;
    padding: 12px;
    font-size: 12px;
    letter-spacing: 1.5px;
    user-select: none;
    cursor: pointer;
}

.label-button i {
    font-size: 18px;
    color: black;
    margin-right: 5px;
}

.label-button:active {
    transform: scale(0.9);
}

.date_label {
    width: 100%;
    margin-left: 20px;
}

.input_date {
    text-transform: uppercase;
    width: 100%;
}

.form_input-field textarea {
    width: 100%;
}

.sign__links  {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
}

.sign__links a {
    margin: 5px;
}

.sign__links a:hover {
    color: black;
}


/* Extra Small & Small (Mobile) */
@media screen and (max-width: 576px) {
   .form_box {
    width: 70%;
   }

   .form_input-field {
    width: 120%;
   }
}

/* Medium (Tablet) */
@media screen and (max-width: 768px) {
    .form_box {
        width: 70%;
       }
    
       .form_input-field {
        width: 100%;
       }
}

/* Large, Extra Large, Extra Extra Large (Monitor screens)*/
@media screen and (min-width: 769px) {

}

@media screen and (max-height: 450px) {

}